*{margin:0; padding:0; box-sizing: border-box;}

:root{
	--dark-cyan: hsl(185, 75%, 39%);
	--dark-blue: hsl(229, 23%, 23%);
	--dark-gray-blue: hsl(227, 10%, 46%);
	--dark-gray: hsl(0, 0%, 59%);
}

html{
	font-size:14px;
}

body{
	font-family: 'Kumbh Sans', sans-serif;
	font-weight: 400;
	height: 100vh;
	background: url(assets/images/bg-pattern-top.svg), url(assets/images/bg-pattern-bottom.svg);
	background-position: -200px -200px, calc(100% + 200px) calc(100% + 200px);
	background-size: 400px;
	background-repeat: no-repeat;
	background-color: var(--dark-cyan);
	display: flex;
	align-items: center;
	justify-content: center;
}

.card{
	position: relative;
	z-index: 10;
    background-color: white;
	width: 350px;
    height: 370px;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: hidden;
}

.card__header{
	background: no-repeat center/cover url(assets/images/bg-pattern-card.svg);
	background-position: center calc(100% - 55px);
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 190px;
}

.card__header--picture{
	border-radius: 50%;
	border: 5px solid #fff;
	background: #fff;
	width:100px;
}

.card__body{
	padding: 15px 0;
	display: block;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.8;
	color:var(--dark-blue);
	text-align: center;
}

.card__text--gray{
	color:var(--dark-gray-blue);
	font-weight: 400;
}

.card__text--address{
	display: block;
	color:var(--dark-gray-blue);
	font-weight: 400;
	font-size: 1rem;
}

.card__footer{
	padding: 25px 20px;
	border:solid #ccc;
	border-width: 1px 0 0 0;
	display: flex;
	justify-content: space-between;
}

.card__social{
	text-align: center;
	color: var(--dark-gray);
	font-size: 12px;
	line-height: 1.4;
	letter-spacing: .1em;
	width: 100%;
}

.card__social--number{
	display: block;
	color: var(--dark-blue);	
	font-size: 18px;
	font-weight: 700;
}

@media (min-width: 1000px){
	body{
		background-position: -100px -400px, calc(100% + 100px) calc(100% + 500px);
		background-size: 800px;
	}
}